---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="About us">
  <main>
    <Card
      href="https://www.innersloth.com/games/among-us/"
      title="Among us"
      body="Among us"
    />
  </main>
</Layout>